@import 'sass-essentials';

$btn-color: black !default;
$btn-text-color: white !default;
$btn-border-radius: 0 !default;
$btn-padding-x: .75rem !default;
$btn-padding-y: .25rem !default;


.pager__infinite-scroll {
  margin-top: 1rem;
  padding: 0;
  .btn {
    display: inline-block;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: $btn-border-radius;
    background: $btn-color;
    color: $btn-text-color;
  }
}
