{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}
{% set classes = [
  'pager__item',
  'pager__infinite-scroll'
] %}

{{ attach_library("compony/infinite_scroll") }}
{% if items.next %}
  <ul{{ attributes.addClass(classes) }}>
    <li class="pager__item">
      <a class="btn" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ options.button_text }}</a>
    </li>
  </ul>
{% endif %}
